.navbar-brand {
    font-family: 'Alata', sans-serif;
}
html{
    height: 100%;
}
body{
    background-image: url(https://www.teahub.io/photos/full/8-80307_blur-full-hd-backgrounds.jpg) ;
    background-size: cover;
    background-position: center;
}

.content{
    text-align: center;
    padding-top: 25%;
    color : white ;
}
h1{
    font-weight: 700 ;
    font-size: 5em;
}

hr{
    color: darkorange;
}

